{% extends "tasks/base.html" %}

{% block title %}Задания{% endblock %}

{% block content %}
    <h1>Список заданий</h1>
    <p>Здесь будут задания.</p>
    <ul>
        {% for task in tasks %}
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <li>
                <a href="{% url 'task_detail' forloop.counter %}">{{ task.title }}</a>
            </li>
        {% empty %}
            <li>Заданий нет</li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_create' %}">+ Новое задание</a>
    {% for task in tasks %}
    <div>
        <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
        <a href="{% url 'task_edit' task.pk %}">Изменить</a>
        <a href="{% url 'task_delete' task.pk %}">Удалить</a>
    </div>
{% endfor %}
{% endblock %}

